<html>
<head>

<title>Noziro Stats</title>

<%- include("/app/public/ressources/style/index.ejs") %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>

	<div class="notification is-primary is-medium">
  	Graphique du nombre de lancements par heure sur 24h du selfbot actualisé toutes les heures:
</div>

	<div class="chart-container" style="position: relative; height:90%; width:90%">
<canvas id="myChart"></canvas>


	</div>
	<div class="notification is-primary is-medium">
		Nombres de lancements durant les dernières 24h:
<span class="tag is-info is-large" id="count"></span>

	</div>


<script>

function genarray() {
	let date_ob = new Date();

	var final = [];
	 i = 21
	 j = i+1
	while(i > -2) {

		 first = date_ob.getHours()-j
		 second = date_ob.getHours()-i
		 if(first < 0){
			 first = 24+first
		 };
		 if(second < 0){
			second = 24+second
		};
		final.push(`${first}-${second}h`)
		 i = i-1
		 j = i+1
	}
	var array = final;
	return array
}

function lastdaycount() {

var array = [<%= data.array %>,<%= data.traffic %>]
var total=0;
for(var i in array) { total += array[i]; }
return total


}

document.getElementById('count').innerHTML = lastdaycount();

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: genarray(),
        datasets: [{

            label: 'Users traffic',
            data: [<%= data.array %>,<%= data.traffic %>],
            backgroundColor: "#a4f5e9",
            borderColor: "#00D1B2",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
							ticks: {
						min: 0,

						// forces step size to be 5 units
						stepSize: 2
					}
            }]
        }
    }
});
</script>
</body>

</html>
