<html>
<head>

<title>Noziro Stats</title>

<%- include("/app/public/ressources/style/index.ejs") %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="path/to/chartjs/dist/Chart.min.css">

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<h1><u>Graphique du nombre de lancements par heure sur 24h du selfbot actualisé toutes les heures:</u></h1>
<br>
	<div class="chart-container" style="position: relative; height:90%; width:90%">
<canvas id="myChart"></canvas>
<h1><u>Nombres de lancements durant les dernières 24h:<u></h1>

<p id="count"></p>
	</div>
	<br>
	<br>


<script>

function genarray() {
	let date_ob = new Date();

	var final = [];
	 i = 21
	 j = i+1
	while(i > -2) {

		 first = date_ob.getHours()-j
		 second = date_ob.getHours()-i
		 if(first < 0){
			 first = 24+first
		 };
		 if(second < 0){
			second = 24+second
		};
		final.push(`${first}-${second}h`)
		 i = i-1
		 j = i+1
	}
	var array = final;
	return array
}

function lastdaycount() {

var array = [<%= data.array %>,<%= data.traffic %>]

var lenght = Object.keys(array).length
console.log(lenght)
i = 0
var count = 0
while (i <= lenght) {
	var count = count + array[i]
	i = i + 1
console.log(count)
}
console.log(count)
return count

}

document.getElementById('count').innerHTML = lastdaycount();

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: genarray(),
        datasets: [{

            label: 'Users traffic',
            data: [<%= data.array %>,<%= data.traffic %>],
            backgroundColor: "#a4f5e9",
            borderColor: "#00D1B2",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
							ticks: {
						min: 0,

						// forces step size to be 5 units
						stepSize: 2
					}
            }]
        }
    }
});
</script>
</body>

</html>
